node_modules

terraform
build
terraform.tfvars
./terraform/*

# Terraform .terraform folder
*.terraform/*


# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hd

terraform/terraform.tfvars
